/* Estilização Geral */
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    background-color: #121212;
    color: white;
}
.font-roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
/* .font-roboto-thick {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
} */

/* Container Principal */
.container-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input de texto */
.container-file-name {
    margin: 1rem 0;
}
.container-input:focus {
    outline: none;
    border: none;
}

/* Botão */
.download-btn,
#url-input,
#file-name-input {
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    cursor: pointer;
}